.Info{
    background-color: #50b171;
}

nome{
    font-size: x-large;
}

h1 {
    font-size: larger;
    text-align: absolute;
}

h2 {
    font-size: larger;
    text-align: absolute;
}

h3 {
    font-size: larger;
    text-align: absolute;
}

h4 {
    font-size: larger;
    text-align: absolute;
}